<!-- User Profile Form -->
<div class="card card-accent-secondary">
    <div class="card-header">Add More Details</div>
    <div class="card-body">
        <form [formGroup]="profileForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="bio">About Me</label>
                        <textarea name="bio" id="bio" class="form-control" formControlName="bio"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Where do you Work</label>
                        <input type="text" class="form-control"
                            formControlName="currentWorkPlace">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="role">What do You Do</label>
                        <input name="role" id="role" class="form-control" formControlName="currentRole">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" formArrayName="experience">
                    <div class="card card-accent-primary">
                        <div class="card-header">
                            <i class="fa fa-user"></i>Add an Experience
                            <div class="card-header-actions">
                                <button type="button" class="card-header-action btn btn-link btn-add"
                                    (click)="addUserExperience()"><i class="icon-plus"></i></button>
                            </div>
                        </div>
                        <div class="card-body" *ngFor="let item of userExperience.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Previous Work Place</label>
                                        <input type="text" class="form-control" formControlName="previousWorkPlace">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Date Begun</label>
                                        <input type="date" class="form-control" formControlName="dateBegun">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label>Date Ended</label>
                                        <input type="date" class="form-control" formControlName="dateEnded">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" formArrayName="duties">
                    <div class="card card-accent-danger">
                        <div class="card-header">
                            <i class="fa fa-sticky-note"></i>Add a Duty
                            <div class="card-header-actions">
                                <button type="button" class="card-header-action btn btn-link btn-add"
                                    (click)="addUserDuty()">
                                    <i class="icon-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" *ngFor="let item of userDuties.controls; let dutyIndex=index"
                            [formGroupName]="dutyIndex">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Duty</label>
                                        <input type="text" class="form-control" formControlName="task">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" formArrayName="skills">
                    <div class="card card-accent-danger">
                        <div class="card-header">
                            <i class="fa fa-sticky-note"></i>Add a Skill
                            <div class="card-header-actions">
                                <button type="button" class="card-header-action btn btn-link btn-add"
                                    (click)="addUserSkill()">
                                    <i class="icon-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" *ngFor="let item of userSkill.controls; let skillIndex=index"
                            [formGroupName]="skillIndex">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Skill</label>
                                        <input type="text" class="form-control" formControlName="skillName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Tag</label>
                                        <input type="text" class="form-control" formControlName="tag">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" (click)="save()">Save Profile</button>
        </form>
    </div>
</div>