<!--User Profile-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-4">
      <div class="card card-accent-primary">
        <div class="card-header">{{firstName}}'s Profile</div>
        <div class="card-body">
          <form [formGroup]="userInformation">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    placeholder="{{firstName}}" disabled>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" formControlName="lastName"
                    placeholder="{{lastName}}" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="otherNames">Other Names</label>
                  <input type="text" class="form-control" id="otherNames" formControlName="otherNames"
                    placeholder="{{otherNames}}" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="text" class="form-control" id="email" formControlName="firstName" placeholder="{{email}}"
                    disabled>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="contact">Contact No.</label>
                  <input type="text" class="form-control" id="contact" formControlName="lastName"
                    placeholder="{{phone}}" disabled>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="workplace">Occupation</label>
                  <input type="text" class="form-control" id="workplace" formControlName="firstName"
                    placeholder="{{email}}" disabled>
                </div>
              </div>
            </div>-->
            <!-- View Full Profile button will open a modal with the complete profile of logged in user-->
            <button class="btn btn-primary btn-sm">View Full Profile</button>
          </form>
        </div>
      </div>
    </div>

    <!--Complete User Profile form-->
    <div class="col-lg-6 col-md-8 col-sm-4">
      <app-profile-form></app-profile-form>
    </div>
  </div>
</div>

<!-- Form Modals -->
<!-- Experiences -->
<ng-template #experiencesModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal Title</h4>
    <button type="button" class="close pull-right" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <form [formGroup]="experiences">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Previous Work Place</label>
            <input type="text" class="form-control" formControlName="previousWorkPlace">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>From</label>
            <input type="date" class="form-control" formControlName="dateBegun">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>To</label>
            <input type="date" class="form-control" formControlName="dateEnded">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Previous Work Place</label>
            <input type="text" class="form-control" formControlName="duties">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary btn-sm">Add Experience</button>
    </div>
  </form>
</ng-template>

<!-- Skills -->
<ng-template #skillsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal Title</h4>
    <button type="button" class="close pull-right" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <form [formGroup]="skills">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">

          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>


<!-- Duties -->
<ng-template #dutiesModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal Title</h4>
    <button type="button" class="close pull-right" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <form [formGroup]="duties">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">

          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!--
<div class="card card-accent-secondary">
  <div class="card-header">Add More Details</div>
  <div class="card-body">
    <form [formGroup]="userProfile">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="bio">About Me</label>
            <textarea name="bio" id="bio" class="form-control" formControlName="bio"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="currentWorkplace">Where do you Work</label>
            <input type="text" id="currentWorkPlace" class="form-control" formControlName="currentWorkPlace">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="dates">Start date</label>
            <input type="date" id="dates" class="form-control" formControlName="experiences">
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col">
          <div class="card card-accent-primary">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="experience">Add Your Previous Experiences</label>
                    <button class="btn btn-sm btn-primary" data-toggle="modal"
                      (click)="openExperiencesModal(experiencesModal)">Add Experience</button>
                   

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    
      <div class="row">
        <div class="col">
          <div class="card card-accent-primary">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="experience">Add a Skill</label>
                    <input type="button" class="btn btn-primary btn-sm" value="Add Experience">
                    

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="saveProfile()">Save Profile</button>
    </form>
  </div>
</div>
-->