<!--<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">Card footer</div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Card with icon
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with switch
          <div class="card-header-actions" style="height: 21px;" >
            <label class="switch switch-sm switch-label switch-info" >
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with label
          <div class="card-header-actions">
            <span class="badge badge-success">Success</span>
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with label
          <div class="card-header-actions">
            <span class="badge badge-pill badge-danger">42</span>
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card border-primary">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card border-secondary">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card border-success">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card border-info">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card border-warning">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card border-danger">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-primary">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-secondary">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-success">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-info">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-warning">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card card-accent-danger">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-primary text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-success text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-info text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-warning text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-danger text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-primary text-center">
        <div class="card-body">
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-success">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-info">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-warning">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> 
  </div>
</div>-->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <!-- list of created Job Titles here -->
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
            (click)="openJobPostModal(JobPostModal)">
            Add Job Post
          </button>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-dark">
              <th>Job Title</th>
            </thead>
            <tbody *ngIf="jsonData.length > 0">
              <tr *ngFor="let jobPost of jsonData" (click)="getInfo(jobPost)">
                <td>{{jobPost.title}}</td>
              </tr>
            </tbody>
          </table>
          <!-- Pagination setup here -->
        </div>
      </div>
    </div>
    <!-- Job Description form here -->
    <!-- This will be a template -->
    <div class="col-lg-8 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          Job Description
        </div>
        <div class="card-body">
          <tabset>
            <tab>
              <ng-template tabHeading>Job Description</ng-template>
              <form [formGroup]="JobDescription">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" class="form-control" formControlName="title" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Organization</label>
                      <input type="text" class="form-control" formControlName="organization" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Job Description</label>
                      <textarea class="form-control" formControlName="description"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col" formArrayName="requirements">
                    <div class="card card-accent-primary">
                      <div class="card-header">
                        <i class="fa fa-user"></i>Add Job Requirements
                        <div class="card-header-actions">
                          <button type="button" class="card-header-action btn btn-link btn-add"
                            (click)="addJobRequirement()">
                            <i class="icon-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body" *ngFor="let item of jobRequirements.controls; let requirementIndex=index"
                        [formGroupName]="requirementIndex">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Required Skill</label>
                              <input type="text" class="form-control" formControlName="skill">
                            </div>

                            <div class="form-group">
                              <label>Weight</label>
                              <input type="number" class="form-control" formControlName="weight">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col" formArrayName="keyphrases">
                    <div class="card card-accent-primary">
                      <div class="card-header">
                        <i class="fa fa-user"></i>Job Requirements
                        <div class="card-header-actions">
                          <button type="button" class="card-header-action btn btn-link btn-add"
                            (click)="addJobKeyPhrase()">
                            <i class="icon-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body" *ngFor="let item of jobKeyPhrase.controls; let pointIndex=index"
                        [formGroupName]="pointIndex">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Candidate Requirement</label>
                              <input type="text" class="form-control" formControlName="word">
                            </div>

                            <div class="form-group">
                              <label>Weight</label>
                              <input type="number" class="form-control" formControlName="weight">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" (click)="saveJobDescription()">Publish</button>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #JobPostModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Job Post</h4>
    <button class="close pull-right" type="button" aria-label="Close" (click)="modalRef.hide()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <form [formGroup]="JobPostForm">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Organization</label>
            <input type="text" formControlName="organization" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="saveJobPost()">Save Job Post</button>
    </div>
  </form>
</ng-template>