<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-accent-primary">
                <div class="card-header">CCAT</div>
                <div class="card-body">
                    <tabset>
                        <tab>
                            <ng-template tabHeading="Active Tests">Active Tests</ng-template>
                            <div class="row">
                                <div class="col-lg-12 col-md-8 col-sm-12">
                                    <table class="table table-hover table-responsive">
                                        <thead>
                                            <th width="20">Question</th>
                                            <th width="20">Possible Answers</th>
                                        </thead>
                                        <tbody *ngIf="quiz.length > 0; else noActiveTest">
                                            <tr *ngFor="let q of quiz; index as i;">
                                                <td>{{q.question}}</td>
                                                <button (click)="viewAnswers(q, openActiveTest)"
                                                    class="btn btn-sm btn-primary">Possible Answers</button>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ng-template #noActiveTest>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="card card-accent-secondary">
                                            <div class="card-body">
                                                <p>No Applications Received</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #openActiveTest>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Possible Answers</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="quizFormGroup">
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Answers</label>
                        <input type="text" class="form-control" formControlName="answers" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Your Answer</label>
                        <input type="text" class="form-control" formControlName="yourAnswer">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger" (click)="calculate()">Submit</button>
        </div>
    </form>
</ng-template>