<div class="animated fadeIn">
  <div class="row" *ngIf="jobDescriptions.length > 0; else noJobs">
    <div class="col-sm-6 col-md-4" *ngFor="let description of jobDescriptions">
      <div class="card">
        <div class="card-header">
          {{description.title}}
        </div>
        <div class="card-body">
          Organization: {{description.organization}}
          <div class="row">
            <div class="col">
              <div class="card card-accent-primary">
                <div class="card-header">Description</div>
                <div class="card-body">
                  {{description.description}}
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-sm btn-info" (click)="viewJobDetails(description, jobPostDetails)">View Offer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noJobs>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-accent-secondary">
        <div class="card-body">
          <p>You have no Job Posts.</p>
          <p>Create one Today</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #jobPostDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Job Requirements</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="JobPostListFormGroup">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Organization</label>
            <input type="text" class="form-control" formControlName="organization" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card-accent-light">
            <div class="card-header">Job Description</div>
            <div class="card-body">
              <textarea class="form-control" formControlName="description" cols="30" rows="10" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" (click)="modalRef.hide()">Close</button>
    </div>
  </form>
</ng-template>
