<div class="card">
    <div class="card-header">
      Job Description
    </div>
    <div class="card-body">
      <tabset>
        <tab>
          <ng-template tabHeading>Job Description</ng-template>
          <form [formGroup]="JobDescription">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" formControlName="title" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Organization</label>
                  <input type="text" class="form-control" formControlName="organization" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Job Description</label>
                  <textarea class="form-control" formControlName="description"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col" formArrayName="requirements">
                <div class="card card-accent-primary">
                  <div class="card-header">
                    <i class="fa fa-user"></i>Add Job Requirements
                    <div class="card-header-actions">
                      <button type="button" class="card-header-action btn btn-link btn-add"
                        (click)="addJobRequirement()">
                        <i class="icon-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body" *ngFor="let item of jobRequirements.controls; let requirementIndex=index"
                    [formGroupName]="requirementIndex">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Required Skill</label>
                          <input type="text" class="form-control" formControlName="skill">
                        </div>

                        <div class="form-group">
                          <label>Weight</label>
                          <input type="number" class="form-control" formControlName="weight">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col" formArrayName="keyphrases">
                <div class="card card-accent-primary">
                  <div class="card-header">
                    <i class="fa fa-user"></i>Job Requirements
                    <div class="card-header-actions">
                      <button type="button" class="card-header-action btn btn-link btn-add"
                        (click)="addJobKeyPhrase()">
                        <i class="icon-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body" *ngFor="let item of jobKeyPhrase.controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Candidate Requirement</label>
                          <input type="text" class="form-control" formControlName="word">
                        </div>

                        <div class="form-group">
                          <label>Weight</label>
                          <input type="number" class="form-control" formControlName="weight">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-sm" (click)="saveJobDescription()">Publish</button>
          </form>
        </tab>
      </tabset>
    </div>
  </div>