<div data-active-color="white" data-background-color="primary" data-image="assets/app-assets/img/sidebar-bg/01.jpg"
     class="app-sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-nav></app-sidebar-nav>
  <div class="sidebar-background"></div>
</div>
