<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-accent-primary">
        <div class="card-header">Set Up Interview</div>
        <div class="card-body">
          <tabset>
            <tab>
              <ng-template tabHeading="Received Applications">Create Interview</ng-template>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="card card-accent-secondary">
                    <div class="card-body">
                      <p>Interview Title: An Interview</p>
                      <p>Date: {{date}}</p>
                    </div>
                    <div class="card-footer">
                      <button type="button" class="btn btn-sm btn-info">View Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <!-- <tab>
              <ng-template tabHeading="Subimtted Applications">Subimtted Applications</ng-template>
              <div class="row" *ngIf="applicationList.length > 0; else noApplicationsSubmitted" >
                  <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let app of applicationList" >
                    <div class="card card-accent-secondary">
                      <div class="card-body">
                        <p>{{app.jobTitle}}</p>

                        <p>{{app.userEligibility}}</p>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-info" (click)="showApplicationDetails(app, applicationDetails)">View Application</button>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noApplicationsSubmitted>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="card card-accent-secondary">
                        <div class="card-body">
                          <p>No Applications Received</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
            </tab> -->
          </tabset> 
        </div>
      </div>
    </div>
  </div>
</div>
